body{
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}
h1{
    height: 7vh;
    margin: 1vh;
    font-size: 7vh;
    text-align: center;
}
p{
    font-family: 'Roboto Mono', monospace;
}
.buttonSize{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.setSize{
    margin: 1vh;
    height: 30vh;
}
.setSmallSize{
    padding: 1vh;
}
.spacer{
    margin-top: 2vh;
}
.controlBtns{
    border-radius: 5px;
    border: none;
    height: 10vh;
    width: 100%;
}
.settings{
    background-color: #76C2AE;
}
.play{
    background-color: #CE585D;
}
.startText{
    font-size: 6vh;
}
.playIcon{
    background-image: url(../images/playButton2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
.settingsIcon{
    background-image: url(../images/settingsButton2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}
#startButton{
}
#level{
    text-align: center;
}
#score{
    text-align: center;
}
#one{
    background-color: #98f98b;
}
#two{
    background-color: #ffebaa;
}
#three{
    background-color: #c252f2;
}
#four{
    background-color: #6782bc;
}