body{
    background-color: white;
}
.buttonSize{
    border-radius: 5px;
    width: 100%;
    height: 300px;
    margin-top: 25px;
}
.spacer{
    margin-top: 25px;
}
#startButton{
    height: 100px;
    width: 80%;
    text-align: center;
}
.startText{
    
}
#one{
    background-color: #98f98b;
}
#two{
    background-color: #ffebaa;
}
#three{
    background-color: #c252f2;
}
#four{
    background-color: #6782bc;
}